// you can change colors here

.vp-color-mode-switch{
  display: none;
}
//------------------------About me start---------------------------------

.paper {
  display: flex;
  column-gap: 1.25rem;
  border-top: solid 0.5px #dadada;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.paper-image {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  background-color: #ffffff;
}


.paper-content {
  flex: 1 1 0%;
}

.paper-title {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  line-height: 1.375;
  font-size: 20px;
}

.paper-authors,
.paper-details {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  line-height: 1.375;
}


@media (max-width: 719px) {
  .paper-image {
    display: none;
  }
}

//-------------------------About me end --------------------------------